

<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && parcelScope === 'tenant' && !isAssignedToCustomer && !isPublic"
           class="md-raised md-primary">{{ 'parcel.make-public' | translate }}</md-button>
<md-button ng-click="onAssignToCustomer({event: $event})"
           ng-show="!isEdit && parcelScope === 'tenant' && !isAssignedToCustomer"
           class="md-raised md-primary">{{ 'parcel.assign-to-customer' | translate }}</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event, isPublic: isPublic})"
           ng-show="!isEdit && (parcelScope === 'customer' || parcelScope === 'tenant') && isAssignedToCustomer"
           class="md-raised md-primary">{{ isPublic ? 'parcel.make-private' : 'parcel.unassign-from-customer' | translate }}</md-button>
<md-button ng-click="onDeleteParcel({event: $event})"
           ng-show="!isEdit && parcelScope === 'tenant'"
           class="md-raised md-primary">{{ 'parcel.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onParcelIdCopied(e)"
               data-clipboard-text="{{parcel.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>parcel.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && isAssignedToCustomer && !isPublic && parcelScope === 'tenant'">
        <label translate>parcel.assignedToCustomer</label>
        <input ng-model="assignedCustomer.title" disabled>
    </md-input-container>
    <div class="tb-small" style="padding-bottom: 10px; padding-left: 2px;"
         ng-show="!isEdit && isPublic && (parcelScope === 'customer' || parcelScope === 'tenant')">
        {{ 'parcel.parcel-public' | translate }}
    </div>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-tabs  md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'Parcel Details' | translate }}">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label translate>parcel.name</label>
                        <input required name="name" ng-model="parcel.name">
                        <div ng-messages="theForm.name.$error">
                            <div translate ng-message="required">parcel.name-required</div>
                        </div>
                    </md-input-container>
                    <md-input-container style="margin-right: 10px;">
                        <label>Farm</label>
                        <md-select ng-model="parcel.farmId">
                            <md-option ng-repeat="farm in farms" value="{{farm.id.id}}">{{farm.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <tb-entity-subtype-autocomplete
                            ng-disabled="$root.loading || !isEdit"
                            tb-required="true"
                            the-form="theForm"
                            ng-model="parcel.type"
                            entity-type="types.entityType.parcel">
                    </tb-entity-subtype-autocomplete>
                    <md-input-container class="md-block">
                        <label translate>parcel.description</label>
                        <textarea ng-model="parcel.additionalInfo.description" rows="2"></textarea>
                    </md-input-container>
                    <md-button ng-click="mostrarMapaParcel()">Refresh</md-button>
                    <div style="min-height: 1000px;">
                        <div id="mapa"  style="height: 450px; width: 450px;"></div>
                    </div>
                    <div layout-gt-sm="row">

                        <md-input-container class="md-block">
                            <label translate>parcel.totalArea</label>
                            <input name="Area" ng-model="parcel.totalArea.extension" required="true" ng-pattern="/^[0-9]+\.?[0-9]*$/" >

                        </md-input-container>

                        <md-input-container style="margin-right: 10px;">
                            <label translate>parcel.UnitOfMeasurement</label>
                            <md-select ng-model="parcel.totalArea.symbol" >
                                <md-option ng-repeat="sym in symbol" value="{{sym}}">{{sym}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <label>Ground Features</label>
                    <div style="min-height: 1000px;">
                        <md-input-container class="md-block">
                            <label translate>ground.density</label>
                            <textarea ng-model="parcel.groundFeatures.density" rows="2"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>ground.compaction</label>
                            <textarea ng-model="parcel.groundFeatures.compaction" rows="2"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>ground.inclination</label>
                            <textarea ng-model="parcel.groundFeatures.inclination" rows="2"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>ground.higrologicData</label>
                            <textarea ng-model="parcel.groundFeatures.higrologicData" rows="2"></textarea>
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'Crops' | translate }}" ng-show="someCrop()">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'Current Crop' | translate }}">
                        <md-content class="md-padding">
                                <button ng-click="finishCrop()">Finish Crop</button>
                                <div style="min-height: 1000px;" ng-disable="!parcel.crop.finish">
                                    <md-input-container class="md-block">
                                        <label translate>Name</label>
                                        <textarea ng-model="parcel.crop.name" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>¿Why this crop?</label>
                                        <textarea ng-model="parcel.crop.why" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>Cause</label>
                                        <textarea ng-model="parcel.crop.cause" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>Initial conditions</label>
                                        <textarea ng-model="parcel.crop.initialConditions" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>Crop State</label>
                                        <textarea ng-model="parcel.crop.state" rows="2"></textarea>
                                    </md-input-container>
                                </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'Crop History' | translate }}">
                        <md-content class="md-padding">
                            <div style="min-height: 1000px;">
                                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="crop in parcel.cropsHistory">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">{{crop.name}}</span>
                                            <span class="md-subhead">{{crop.startCrop |date :  "dd/MM/y"}}</span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-lg card-media"></div>
                                        </md-card-title-media>
                                    </md-card-title>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'Good Practices' | translate }}">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab One</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'Actions' | translate }}">
                        <md-content class="md-padding">
                            <div style="min-height: 1000px;">
                                <md-input-container class="md-block">
                                    <label translate>Action</label>
                                    <textarea ng-model="action"></textarea>
                                </md-input-container>
                                <button ng-click="addActionCrop()">Add Action</button>
                                <ul>
                                    <li ng-repeat="actionCrop in parcel.crop.actions">{{actionCrop.action}} -- {{actionCrop.actionDate |date :  "dd/MM/y"}}</li>
                                </ul>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-tab>
        </md-tabs>
    </fieldset>
</md-content>