<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && farmScope === 'tenant' && !isAssignedToCustomer && !isPublic"
           class="md-raised md-primary">{{ 'farm.make-public' | translate }}</md-button>
<md-button ng-click="onAssignToCustomer({event: $event})"
           ng-show="!isEdit && farmScope === 'tenant' && !isAssignedToCustomer"
           class="md-raised md-primary">{{ 'farm.assign-to-customer' | translate }}</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event, isPublic: isPublic})"
           ng-show="!isEdit && (farmScope === 'customer' || farmScope === 'tenant') && isAssignedToCustomer"
           class="md-raised md-primary">{{ isPublic ? 'farm.make-private' : 'farm.unassign-from-customer' | translate }}</md-button>
<md-button ng-click="onDeleteFarm({event: $event})"
           ng-show="!isEdit && farmScope === 'tenant'"
           class="md-raised md-primary">{{ 'farm.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onFarmIdCopied(e)"
               data-clipboard-text="{{farm.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>farm.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && isAssignedToCustomer && !isPublic && farmScope === 'tenant'">
        <label translate>farm.assignedToCustomer</label>
        <input ng-model="assignedCustomer.title" disabled>
    </md-input-container>
    <div class="tb-small" style="padding-bottom: 10px; padding-left: 2px;"
         ng-show="!isEdit && isPublic && (farmScope === 'customer' || farmScope === 'tenant')">
        {{ 'farm.farm-public' | translate }}
    </div>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'Basic Information' | translate }}">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label translate>farm.name</label>
                        <input required name="name" ng-model="farm.name">
                        <div ng-messages="theForm.name.$error">
                            <div translate ng-message="required">farm.name-required</div>
                        </div>
                    </md-input-container>
                    <tb-entity-subtype-autocomplete
                            ng-disabled="$root.loading || !isEdit"
                            tb-required="true"
                            the-form="theForm"
                            ng-model="farm.type"
                            entity-type="types.entityType.farm">
                    </tb-entity-subtype-autocomplete>
                    <md-input-container class="md-block">
                        <label translate>farm.description</label>
                        <textarea ng-model="farm.additionalInfo.description" rows="2"></textarea>
                    </md-input-container>

                    <label ng-repeat-start="label in labels">{{label}}</label>
                    <input ng-model='longitudes[$index]' type='text' value='' />
                    <input ng-model='latitudes[$index]' type='text' value='' />
                    <br ng-repeat-end>
                    <md-button ng-click="saveEverything()">Ubicar</md-button>

                    <md-input-container class="md-block">
                        <label translate>farm.location_description</label>
                        <textarea ng-model="farm.locationDescription" rows="2"></textarea>
                    </md-input-container>

                    <div layout-gt-sm="row">

                        <md-input-container class="md-block">
                            <label translate>farm.totalArea</label>
                            <input name="Area" ng-model="farm.totalArea.extension" required="true" ng-pattern="/^[0-9]+\.?[0-9]*$/" >

                        </md-input-container>

                        <md-input-container style="margin-right: 10px;">
                            <label translate>farm.UnitOfMeasurement</label>
                            <md-select ng-model="farm.totalArea.symbol" >
                                <md-option ng-repeat="sym in symbol" value="{{sym}}">{{sym}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'Photograps' | translate }}">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'Details' | translate }}">
                <md-content class="md-padding">
                    <md-input-container style="margin-right: 10px;">
                        <label>Destination</label>
                        <md-select ng-model="farm.farmDetails.destination">
                            <md-option ng-repeat="dest in destination" value="{{dest}}">{{dest}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label translate>farm.use_details</label>
                        <textarea ng-model="farm.farmDetails.useDetails" rows="2"></textarea>
                    </md-input-container>
                    <label>Water Points</label>
                    <div style="min-height: 1000px;">
                        <md-input-container class="md-block">
                            <label translate>waterPoint.number</label>
                            <textarea ng-model="tempWaterPointNumber"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>waterPoint.resolution</label>
                            <textarea ng-model="tempWaterPointResolution"></textarea>
                        </md-input-container>
                        <md-button ng-click="addWaterPoint()">Add Water Point</md-button>
                        <table border="2 px">
                            <tr>
                                <td>Number</td>
                                <td>Resolution</td>
                                <td>Date</td>
                            </tr>
                            <tr ng-repeat="waterPoint in farm.farmDetails.waterPoints">
                                <td>{{ waterPoint.numberPoint }}</td>
                                <td>{{ waterPoint.resolution }}</td>
                                <td>{{ waterPoint.validity |date :  "dd/MM/y"}}</td>
                            </tr>
                        </table>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'Home Details' | translate }}">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'Technologies' | translate }}">
                <md-content class="md-padding">
                    <label>Irrigations Systems</label>
                    <div style="min-height: 1000px;">
                        <md-input-container class="md-block">
                            <label translate>irrigationSystem.name</label>
                            <textarea ng-model="tempNameIrrigation"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>irrigationSystem.description</label>
                            <textarea ng-model="tempDescriptionIrrigation"></textarea>
                        </md-input-container>
                        <md-button ng-click="addIrrigationSystem()">Add Irrigation System</md-button>
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="irrigation in farm.irrigationsSystems">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{irrigation.name}}</span>
                                    <span class="md-subhead">{{irrigation.description}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'Enviroment' | translate }}">
                <md-content class="md-padding">
                    <label>Local Climatology</label>
                    <div style="min-height: 1000px;">
                        <md-input-container class="md-block">
                            <label translate>climatology.longitude</label>
                            <textarea ng-model="longitude"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>climatology.latitude</label>
                            <textarea ng-model="latitude"></textarea>
                        </md-input-container>
                        <button ng-click="climatology()">Current Climatology</button><br>
                        <label>Temperature: {{temperature}}</label><br>
                        <label>Humidity: {{humidity}}</label><br>
                        <label>Pressure: {{pressure}}</label><br>
                        <label>Wind Speed: {{windSpeed}}</label><br>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </fieldset>
</md-content>