

<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && cultivoScope === 'tenant' && !isAssignedToCustomer && !isPublic"
           class="md-raised md-primary">{{ 'cultivo.make-public' | translate }}</md-button>
<md-button ng-click="onAssignToCustomer({event: $event})"
           ng-show="!isEdit && cultivoScope === 'tenant' && !isAssignedToCustomer"
           class="md-raised md-primary">{{ 'cultivo.assign-to-customer' | translate }}</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event, isPublic: isPublic})"
           ng-show="!isEdit && (cultivoScope === 'customer' || cultivoScope === 'tenant') && isAssignedToCustomer"
           class="md-raised md-primary">{{ isPublic ? 'cultivo.make-private' : 'cultivo.unassign-from-customer' | translate }}</md-button>
<md-button ng-click="onDeleteCultivo({event: $event})"
           ng-show="!isEdit && cultivoScope === 'tenant'"
           class="md-raised md-primary">{{ 'cultivo.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onCultivoIdCopied(e)"
               data-clipboard-text="{{cultivo.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>cultivo.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && isAssignedToCustomer && !isPublic && cultivoScope === 'tenant'">
        <label translate>cultivo.assignedToCustomer</label>
        <input ng-model="assignedCustomer.title" disabled>
    </md-input-container>
    <div class="tb-small" style="padding-bottom: 10px; padding-left: 2px;"
         ng-show="!isEdit && isPublic && (cultivoScope === 'customer' || cultivoScope === 'tenant')">
        {{ 'cultivo.cultivo-public' | translate }}
    </div>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>cultivo.name</label>
            <input required name="name" ng-model="cultivo.name">
            <div ng-messages="theForm.name.$error">
                <div translate ng-message="required">cultivo.name-required</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-right: 10px;">
            <label>Finca</label>
            <md-select ng-model="size">
                <md-option ng-repeat="finca in fincas" value="{{finca}}}">{{finca}}</md-option>
            </md-select>
        </md-input-container>
        <tb-entity-subtype-autocomplete
                ng-disabled="$root.loading || !isEdit"
                tb-required="true"
                the-form="theForm"
                ng-model="cultivo.type"
                entity-type="types.entityType.cultivo">
        </tb-entity-subtype-autocomplete>
        <md-input-container class="md-block">
            <label translate>cultivo.description</label>
            <textarea ng-model="cultivo.additionalInfo.description" rows="2"></textarea>
        </md-input-container>
    </fieldset>
</md-content>